<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>nazwisko</th>
                <th>nr telefonu</th>
                <th>email</th>
                <th>typ konta</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.person.firstName}"></td>
                <td th:text="${user.person.surname}"></td>
                <td th:text="${user.person.phoneNumber}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.accountType}"></td>
                <td>
					<form th:action="@{/account/delete/{id}/delete(id=${user.id})}" method="post">
						<button type="submit">Usuń</button>
					</form>
            </tr>
        </tbody>
    </table>

    
    
</body>
</html>