<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krok trzeci</title>
</head>
<body>
    <h2>Koszty wypożyczenia</h2>
    <div>
        <h4>Cena wypożyczenia</h4>
    </div>
    <div>
        <h4>Całkowita kaucja</h4>
    </div>
    <div>
        <h4>Całkowita cena wypozyczenia</h4>
    </div>
    <form th:action="@{/showCartFourthStepForm}" method="get">	
    		<button type="submit">Dalej</button>
    </form>
</body>
</html>