<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj urządzenie</title>
    <link rel="stylesheet" th:href="@{/css/addDevice.css}" type="text/css">
</head>
<body>
    <div class="addDevice">
        <form action="/device/add" method="post" th:object="${deviceDto}">
            <h2>Dodaj urządzenie</h2>
            <div class="choose-category">
                <select id="category" name="category" th:field="*{category}" onchange="changeTechnicalDataFields()">
                    <option th:each="category : ${categories}"  th:value="${category.name}" th:text="${category.name}" ></option>
                                        
                </select>
            </div>
            <div id="showTechnicalData">

            </div>
            <div class="addDevice-input">
                <input type="text"  placeholder="Nazwa" th:field="${deviceDto.name}">
            </div>
            <div class="addDevice-input">
                <input type="number" min="0" step="1" placeholder="Cena" th:field="${deviceDto.price}">
            </div>
            <div class="addDevice-input">
                <input type="number" min="0" step="1" placeholder="Kaucja" th:field="${deviceDto.deposit}">
            </div>
            <div class="addDevice-textarea">
                <textarea placeholder="Podaj opis"></textarea>
            </div>
            <div class="choose-connector">
                <select>
                    <option value="hdmi">HDMI</option>
                    <option value="usb">USB</option>
                    <option value="ethernet">Ethernet</option>
                    <option value="jack">Combo jack</option>
                    <option value="brak">Brak</option>
                </select>
            </div>
            <div class="addDevice-button">
                <button type="submit">Dodaj urządzenie</button>
            </div>
        </form>
    </div>
    <script>
        function changeTechnicalDataFields(){
            var category=document.getElementById('category').value;
            var technicalDataFields=document.getElementById('showTechnicalData');
            technicalDataFields.innerHTML='';

            if(category=='telewizor'){
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Rozdzielczość" name="technicalDetails.screenResolution"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Rozmiar ekranu" name="technicalDetails.screenSize"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="number" min="0" step="1" placeholder="Częstotliwość odświeżania" name="technicalDetails.refreshRate"></div>';
            }else if(category=='laptop'){
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Ekran" name="technicalDetails.display"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Procesor" name="technicalDetails.processor"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Dysk" name="technicalDetails.drive"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="number" min="0" step="1" placeholder="RAM" name="technicalDetails.ram"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Karta graficzna" name="technicalDetails.graphicCard"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="System operacyjny" name="technicalDetails.operatingSystem"></div>';
            }else if(category=='monitor'){
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Rozdzielczość" name="technicalDetails.screenResolution"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Rozmiar ekranu" name="technicalDetails.screenSize"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="number" min="0" step="1" placeholder="Częstotliwość odświeżania" name="technicalDetails.refreshRate"></div>';
            }else if(category=='nagłośnienie'){
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Moc głośników" name="technicalDetails.speakresPower"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="number" min="0" step="1" placeholder="Ilość głośników" name="technicalDetails.numberOfSpeakers"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Typ podłączenia" name="technicalDetails.connectionType"></div>';
            }else if(category=='projektor multimedialny'){
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Typ matrycy" name="technicalDetails.matrixType"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="number" min="0" step="1" placeholder="Moc lampy" name="technicalDetails.lampPower"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Rozdzielczość" name="technicalDetails.screenResolution"></div>';
            }else if(category=='ekran'){
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Format" name="technicalDetails.format"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Rozmiar" name="technicalDetails.screenSize"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Wymiar powierzchni aktywnej" name="technicalDetails.activeSurfaceac"></div>';
            }else if(category=='oświetlenie'){
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Kolor światła" name="technicalDetails.lightingColor"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="number" min="0" step="1" placeholder="Pobór prądu" name="technicalDetails.powerConsumption"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Wielkość urządzenia" name="technicalDetails.deviceSize"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="number" min="0" step="1" placeholder="moc lampy" name="technicalDetails.lampPower"></div>';
            }else if(category=='słuchawki'){
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Typ Słuchawek" name="technicalDetails.headphoneType"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Mikrofon" name="technicalDetails.microphone"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Bezprzewodowe" name="technicalDetails.wirelessTransmission"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="number" min="0" step="1" placeholder="Czas pracy" name="technicalDetails.workingTime"></div>';
            }else if(category=='tablet'){
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="System operacyjny" name="technicalDetails.operatingSystem"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Dysk" name="technicalDetails.drive"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="number" min="0" step="1" placeholder="RAM" name="technicalDetails.ram"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Procesor" name="technicalDetails.processor"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Wyświetlacz" name="technicalDetails.display"></div>';
            }else if(category=='kamera'){
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Rozdzielczość" name="technicalDetails.resolution"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Stabilizacja obrazu" name="technicalDetails.imageStabilization"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Zbliżenie optyczne" name="technicalDetails.opticalZoom"></div>';
            }else if(category=="mikrofon"){
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Rodzaj mikrofonu" name="technicalDetails.microphoneType"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Pasmo przenoszenia" name="technicalDetails.frequencyResponse"></div>';
                technicalDataFields.innerHTML+='<div class="addDevice-input"><input type="text" placeholder="Typ podłączenia" name="technicalDetails.wirelessTransmision"></div>';
            }
    }
    </script>
</body>
</html>