<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj urządzenie</title>
</head>
<body>
    <form action="/device/add" th:object="${device}" method="post">
            <input type="text" th:field="${device.name}">
            <input type="number" th:field="${device.price}">
        	<input type="number" th:field="${device.deposit}">
        	<textarea th:field="${device.description}"></textarea>
        	
        	<div th:if="${device.category.name=='telewizor'}">
				<input type="text" th:field="${device.imageDisplay.screenSize}">
				<input type="text" th:field="${device.imageDisplay.screenResolution}">
				<input type="number" th:field="${device.imageDisplay.refreshRate}">
				
			</div>
			<div th:if="${device.category.name=='monitor'}">
				<input type="text" th:field="${device.imageDisplay.screenSize}">
				<input type="text" th:field="${device.imageDisplay.screenResolution}">
				<input type="number" th:field="${device.imageDisplay.refreshRate}">
			</div>
			<div th:if="${device.category.name=='ekran'}">
				<input type="text" th:field="${device.imageDisplay.screenFormat}">
				<input type="text" th:field="${device.imageDisplay.screenSize}">
				<input type="text" th:field="${device.imageDisplay.activeSurface}">
			</div>
			<div th:if="${device.category.name=='projektor multimedialny'}">
				<input type="text" th:field="${device.imageDisplay.matrixType}">
				<input type="number" th:field="${device.imageDisplay.lampPower}">
				<input type="text" th:field="${device.imageDisplay.screenResolution}">
			</div>
           
            <div th:if="${device.category.name=='laptop'}">
				<input type="text" th:field="${device.computer.operatingSystem}">
				<input type="text" th:field="${device.computer.display}">
				<input type="text" th:field="${device.computer.drive}">
				<input type="text" th:field="${device.computer.graphicsCard}">
				<input type="text" th:field="${device.computer.processor}">
				<input type="number" th:field="${device.computer.ram}">
			</div>
			<div th:if="${device.category.name=='tablet'}">
				<input type="text" th:field="${device.computer.operatingSystem}">
				<input type="text" th:field="${device.computer.display}">
				<input type="text" th:field="${device.computer.drive}">
				<input type="text" th:field="${device.computer.processor}">
				<input type="number" th:field="${device.computer.ram}">
			</div>
	        <div th:if="${device.category.name=='oświetlenie'}">
				<input type="text" th:field="${device.lighting.deviceSize}">
				<input type="number" th:field="${device.lighting.lampPower}">
				<input type="text" th:field="${device.lighting.lightingColor}">
				<input type="number" th:field="${device.lighting.powerConsumption}">
			</div>
        	<div th:if="${device.category.name=='kamera'}">
				<input type="text" th:field="${device.camera.imageStabilization}">
				<input type="text" th:field="${device.camera.opticalZoom}">
				<input type="text" th:field="${device.camera.resolution}">
			</div>
			<div th:if="${device.category.name=='nagłośnienie'}">
				<input type="text" th:field="${device.audioDevice.speakersPower}">
				<input type="number" th:field="${device.audioDevice.numberOfspeakers}">
				
			</div>
        	<div th:if="${device.category.name=='mikrofon'}">
				<input type="text" th:field="${device.audioDevice.microphoneType}">
				<input type="text" th:field="${device.audioDevice.frequencyResponse}">
				<input type="text" th:field="${device.audioDevice.wirelessTransmission}">
			</div>
        	<div th:if="${device.category.name=='słuchawki'}">
				<input type="text" th:field="${device.audioDevice.headphoneType}">
				<input type="text" th:field="${device.audioDevice.microphone}">
				<input type="text" th:field="${device.audioDevice.wirelessTransmission}">
				<input type="number" th:field="${device.audioDevice.workingTime}">
			</div>
         <button type="submit">Zatwierdź</button>
    </form>
</body>
</html>