<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Ulubionych</title>
</head>
<body>
    <div>
        <h2>Lista Ulubionych</h2>
        <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Kaucja</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="deviceFavouriteList : ${devicesFavouritesLists}">
            <td th:text="${deviceFavouriteList.device.id}"></td>
            <td th:text="${deviceFavouriteList.device.name}"></td>
            <td th:text="${deviceFavouriteList.device.price}"></td>
            <td th:text="${deviceFavouriteList.device.deposit}"></td>
            <td>
				<form th:action="@{/homePage/deleteDevicefromFavouriteList/{id}(id=${deviceFavouriteList.id})}" method="post">	
					<button type="submit">Usuń</button>
					</form>	
			</td>
        </tr>

		</tbody>
		</table>
    </div>
</body>
</html>