<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj użytkownika</title>
</head>
<body>

    <form method="post" action="/account/add" th:object="${userPersonDto}">
        <h2>Dodaj użytkownika</h2>
        <div>
			<input type="text" placeholder="Imię"  th:field="${userPersonDto.firstName}">
			<p th:if="${#fields.hasErrors('firstName')}"  th:errors="${userPersonDto.firstName}"></p>
		</div>
		<div>
			<input type="text" placeholder="Nazwisko"  th:field="${userPersonDto.surname}">
			<p th:if="${#fields.hasErrors('surname')}" th:errors="${userPersonDto.surname}"></p>
		</div>
        <div>
			<input type="tel" placeholder="Numer telefonu"  th:field="${userPersonDto.phoneNumber}">
			<p th:if="${#fields.hasErrors('phoneNumber')}"  th:errors="${userPersonDto.phoneNumber}"></p>
		</div>
        <div>
			<input type="email" placeholder="E-mail"  th:field="${userPersonDto.email}">
			<p th:if="${#fields.hasErrors('email')}"  th:errors="${userPersonDto.email}"></p>
		</div>
        <div>
			<input type="password" placeholder="Hasło"  th:field="${userPersonDto.password}">
			<p th:if="${#fields.hasErrors('password')}"  th:errors="${userPersonDto.password}"></p>
		</div>
        <div>
        <select name="selectedOption">
            <option th:value="USER" >Użytkownik</option>
            <option th:value="ADMIN" >Administrator</option>
            <option th:value="WORKER" >Pracownik obsługi</option>
            <option th:value="WAREHOUSEMAN">Magazynier</option>
        </select>
        </div>
        <button type="submit">Dodaj</button>
    </form>
    
</body>
</html>