<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wypożyczalnia sprzętu multimedialnego</title>
</head>
<body>
    <div class="header">
		<form method="get" action="/homePage/login" >
			<button type="submit">Zarejestruj sie</button>
		</form>
        <form  method="get" action="/homePage/create">
        <button type="submit">Zaloguj się</button>
        </form>
        <form  method="get" action="/homePage/showCart">
        <button type="submit">Pokaż koszyk</button>
        </form>
        <form  method="get" action="/homePage/showFavouriteList">
        <button type="submit">Pokaż listę ulubionych</button>
        </form>
    </div>
    <div class="menu">

			<a href="/homePage/categories/tv">Telewizory</a>
			<a href="/homePage/categories/laptop">Laptopy</a>
			<a href="/homePage/categories/tablet">Tablety</a>
			<a href="/homePage/categories/camera">Kamery</a>
			<a href="/homePage/categories/monitor">Monitory</a>
			<a href="/homePage/categories/screen">Ekrany projekcyjne</a>
			<a href="/homePage/categories/projector">Projektory multimedianlne</a>
			<a href="/homePage/categories/lighting">Oświetlenie</a>
			<a href="/homePage/categories/headphone">Słuchawki</a>
			<a href="/homePage/categories/audio">Nagłośnienie</a>
			<a href="/homePage/categories/microphone">Mikrofony</a>
			
    </div>
    
</body>
</html>